.group{
    font-size: .8rem;
    color: white;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    & p{
        & button{
            color: white;
            background: transparent;
            border: 0;
        }
    }
}
.nestedFilter{
    display: flex;
    gap: 5px;
    font-size: .7rem;
    align-items: end;
    & div{
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 0 5px;
        /* border-right: 1px solid #ccc; */
        border-left: 1px solid #ccc;
        &:hover{
            background-color: #eee;
            cursor: pointer;
            color: #3A5E80;
        }
    }
}
p{
    margin: 0 !important;
}
