.list_icon{
    width: 20px;
    height: 20px;
    background: rgb(77,103,124);
    background: linear-gradient(170deg, rgba(77,103,124,1) 0%, rgba(109,137,160,1) 41%, rgba(141,172,199,1) 100%);
    border-radius: 50%;
    text-align: center;
 
}
.tab:hover{
  cursor: pointer;
}
.tab:hover::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:#2a537a ;
  bottom: 0;
  border-radius: 15px;
}

.active::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:#2a537a ;
  bottom: 0;
  border-radius: 15px;
}
.scrollButton{
  padding: 5px;
  border: 0;
  border-radius: 2px;
  background-color: #fafafa;
}