.iconBar{
    display: flex;
    align-items: center;
    gap: 1px;
    font-size: .8rem;
    gap: 7px;
    padding: 3px 1rem;
    border-bottom: 1px solid #ccc;
    & button{
        background: transparent;
        border: none;
        color: rgb(255, 255, 255);
    }
}

.dateColor {
    color: rgb(255, 255, 255);
}



.nestedFilter{
    display: flex;
    gap: 5px;
    font-size: .7rem;
    align-items: end;
    & div{
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 0 5px;
        /* border-right: 1px solid #ccc; */
        border-left: 1px solid #ccc;
        &:hover{
            background-color: #eee;
            cursor: pointer;
            color: #3A5E80;
        }
    }
}
p{
    margin: 0 !important;
}
